/*Responsive*/
@media only screen and (max-width:1000px){
#navbar{
				height:55px;
				margin:0px;
}
#logo-head{width:50%;}
				#head{
    font-size:15px;  
   margin-left:0%;  
  
 
}
.logo-head img{
    
    height: 45px;
    width :45px;
   
}
.btn-nav{
				font-size:10px;
				margin:20px 5px;
				padding:2px 2px;
}
.img{  
    margin-right:0%;  
    
}	
#search{
				width:22%;
				padding:
}

}
@media only screen and (max-width:1500px) and (min-width:1000px){
				#para-head{
							margin:0px 20%;
							font-size:22px
				}
}

@media only screen and (max-width:700px){
.btn-nav{margin:20px 2px;}
#search-cont{
				margin:0px 35px;
}
		#search-cont input{
		min-width: 78%;
		 max-width: 78%;
		 
		 box-sizing: border-box;
		 }
		 #btn-search{
		 				width:22%;
		 
		 }
		 #intro-head{
		 				font-size:17px;
		 }
		 #para-head{		 
		 				margin:0px 38px;
		 				/*text-align:center;*/
		 				font-size:13px;
		}
		 .abc-intro{
		 				height: 290px;
		 }
		 .cont{
				flex-direction:column;
}
.content{
				width:90%;
}
		 
		 }

